<h1 class="display-4">Wecome to ArticleBase</h1>
<p class="mb-4">This is a sails.js app for managing articles</p>
<a href="/articles/list" class="btn btn-light">View Aricles</a>
<a href="/articles/add" class="btn btn-light">Add Aricles</a>